@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF4510;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.triangle-poddasze{
  width: 0; 
  height: 0; 
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  
  border-bottom: 80px solid rgb(200,245,255);
}

@page { size: A5;  margin: 40mm; }
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  p{
    font-size: 24px !important;
  }
  .onPrintMargin{
    margin-top: 5px;
  }
  .onPrintLabel{
    font-size: 14px !important;
  }
  .mt-20{
    margin-top: 0px;
  }
  .mt-10{
    margin-top: 15px;
  }
  .hideOnPrint{
    display: none;
  }
  .showOnPrint{
    display: flex !important;
  }
  .onPrintTopMargin{
    margin-top: 5px;
  }
  .onPrintTopMarginExtra{
    margin-top: 40px;
  }
  .onPrintMarginBottom{
    margin-bottom: 20px;
  }
  .onPrintHardGrid3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .onPrintText20{
    font-size: 20px;
  }
  .onPrintText14{
    font-size: 14px !important
  }
  .grid-cols-1{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .onPrintDontCol{
    flex-direction: row;
  }
  @page {
    margin: 30px 15px;
  }
  .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}
